body {
  background-color: rgb(244, 244, 244);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.tablist {
  float: left;
}

.iconlist {
  float: right;
  font-size: 48px;
  padding: 12px 24px;
}

.tabs {
  display: block;
  color: black;
  text-align: center;
  padding: 28px 26px;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Tahoma', sans-serif;
}

.fa {
  border-radius: 20%;
  font-size: 32px;
  padding: 12px 12px;
  text-decoration: none;
}

.fa-twitter {
  font-size: 24px;
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  font-size: 24px;
  background: linear-gradient(to bottom left, rgb(199, 2, 169),red,orange, yellow);
  color: white;
}
.fa-linkedin {
  font-size: 24px;
  background: rgb(13, 75, 209);
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.blog_divider {
  padding: 20px;
  float: left;
}

.blog_entries {
  border: 1px solid black;
  border-collapse: collapse;
  float: left;
}

.blog_entries:hover {
  opacity: 0.9;
}

.blog_thumbnail {
  width: 450px;
}

.blog_description {
  text-align: center;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}

.blog_table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 950px;
}

.blog_text {
  padding-left: 50px;
  padding-bottom: 25px;
  padding-right: 50px;
  font-size: 16px;
  font-family: 'Tahoma', sans-serif;
  line-height: 32px;
}

th {
  text-align: left;
  padding: 50px;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}

.blog_images {
  width: 600px;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  overflow: hidden;
  padding: 50px;
}

